*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    height: 10vh;
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 7px;
    right: 10px;
    position: relative;
}
nav ul li a{
    text-decoration: none;
}
